@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F8F3ED;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: #213956;
}

/* Estilo del texto del carrusel */
.carousel-caption h5,
.carousel-caption p {
  text-shadow: 0 2px 6px rgba(0,0,0,0.6); /* opción elegante y sutil */
}
